[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = "NACHIKET PRAJAPATI "
	email = 119723524+Nachiket-2005@users.noreply.github.com
